
body{

    text-align: center;
    justify-content: center;
    
}

.all{
    display: flex;
    flex-direction: row;
    height: 500px;
}
.header{
    display:flexbox;
    background-color: rgb(37, 218, 231);
    padding-top: 2%;
    margin-bottom: -1%;
    
}
.api{
    display: flex;
    flex-basis: 25%;

    text-align: center;
    justify-content: center;
    position: relative;
    border: 2px solid black;

    
}

@media (max-width: 800px) {
    .all{
    flex-direction: column;  
    
}
}
img{
    max-width: 100%;
height: 50%;
    

}
#btn1{
    margin-bottom: 3%;
}

#btn3{
    margin-bottom: 12%;
}
.cat{

width: 100%;
max-height: 300px;
margin-bottom: 5%;




}
.api1{
    background-color:  white;
    
    
}

.colorbtn{
    background-color: orangered;
}
.api2{
    background-color:white;
    align-items: center;
    justify-content: center;
}
.api3{
    background-color: white;
    align-items: center;
    justify-content: center;
}
.api4{
    background-color:white;
    align-items: center;
    justify-content: center;
    
}
#btn4{
    margin-bottom: 25%;
}